<!DOCTYPE html>
<html>
  <head>
    <title>Cinema</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="bg-gray-100 p-10">
    <nav class="bg-white w-64 h-screen p-6">
      <div class="flex items-center text-gray-900 hover:bg-gray-100 p-2 duration-300 leading-none cursor-pointer">
        <i class="material-icons material-icons-outlined mr-2">
          dashboard
        </i>

        <div class="text-lg">Dashboard</div>
      </div>

    <%= form_with url: "/users/sign_out", method: :delete do |form| %>
      <div class="flex items-center text-gray-900 hover:bg-gray-100 p-2 duration-300 leading-none cursor-pointer">
        <i class="material-icons material-icons-outlined mr-2">
          logout
        </i>

        <%= form.submit "Search" %>
      </div>
    <% end %>

    <%# <form
      turbolink="false"
      class="button_to"
      method="post"
      action="/users/sign_out"
    ><input type="hidden" name="_method" value="delete" autocomplete="off"><button type="submit">Logout</button><input type="hidden" name="authenticity_token" value="no3IZqICkivajExOscdWjakQONRLn8wpYhFpLoGxNgzBWMWysAxNgOqdSPzTzpRntH_waSvace4sP_EelZ0wJQ" autocomplete="off"></form> %>

<%# <%= button_to 'Logout', destroy_user_session_path, method: :delete, form: {turbolink: false} %> %>

    </nav>

    <% if alert %>
      <div class="flex items-center bg-rose-600 absolute text-white leading-none h-10 px-3 right-10 bottom-10">
        <i class="material-icons material-icons-outlined mr-3">
          error
        </i>

        <div class="leading-none min-w-80">
          <%= alert %>
        </div>

        <i class="material-icons material-icons-outlined ml-2">
          close
        </i>
      </div>
    <% end %>

    <% if notice %>
      <div class="flex items-center bg-emerald-600 absolute text-white leading-none h-10 px-3 right-10 bottom-10">
        <i class="material-icons material-icons-outlined mr-3">
          check_circle
        </i>

        <div class="leading-none min-w-80">
          <%= notice %>
        </div>

        <i class="material-icons material-icons-outlined ml-2">
          close
        </i>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>


